.container {
  border-radius: 4px;
  border-color: var(--background-hover-color);
  border-width: 1px;
  border-style: solid;
  padding: 4px 8px;
  margin: 0 4px 16px 0;
  height: 50px;
  width: fit-content;
}

.container:hover {
  border-color: var(--border-hover-color);
}

.container:active {
  box-shadow: 0 0 4px var(--background-hover-color);
}

.selected {
  color: #fff;
  border-color: var(--background-selected-color);
  background-color: var(--background-selected-color);
}
