:root {
  --background-selected-color: #363f45;
  --border-hover-color: rgb(31, 40, 45);
  --background-hover-color: rgb(155, 168, 176);
  --background-tooltip-color: #1f282d;
  --selected-hover-color: #2c3439;
  --teal-color: #0b7b99;
}

body {
  font-weight: 700;
  font-family: HelveticaNeue-Bold, 'Helvetica Neue', 'Helvetica Neue', Helvetica,
    Arial, sans-serif;
  font-size: 12px;
  color: #192024;
  line-height: 18px;
  background-color: #f0f0f0;
}

#root {
  background-color: #fff;
}

*:focus-visible {
  outline-color: var(--teal-color);
  outline-offset: 4px;
}
